.profile__edit-button {
  align-self: end;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 8px;
  display: block;
  border: none;
  background-image: url(../../../images/Edit-Button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: cover;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 525px) {
  .profile__edit-button {
    margin-bottom: 3px;
    width: 18px;
    height: 18px;
  }
}
