.profile__edit-button {
  align-self: end;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 7px;
  display: block;
  border: none;
  background-image: url(../../../images/Edit-Button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: cover;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 320px) {
  .profile__edit-button {
    margin-bottom: 6px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 321px) and (max-width: 700px) {
  .profile__edit-button {
    margin-bottom: 12px;
    width: 20px;
    height: 20px;
  }
}
