.popup__grid-items {
  position: relative;
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 10px;
  margin-left: 16%;
  margin-right: 16%;
}

@media screen and (max-width: 320px) {
  .popup__grid-items {
    margin-left: 40px;
    margin-right: 40px;
  }
}
