.page {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #000;
  position: relative;
}

@media (max-width: 320px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
