.grid-items__heart {
  width: 22px;
  height: 19px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  background-image: url(../../../images/Heart.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
}

.grid-items__heart:hover {
  opacity: 0.5;
}

.grid-items__heart:active {
  background-image: url(../../../images/Black-Heart.svg);
  opacity: 1;
}
