.grid-items__heart {
  width: 22px;
  height: 19px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  background-image: url(../../../images/Heart.svg);
  -webkit-tap-highlight-color: transparent;
}

.grid-items__heart:hover {
  opacity: 0.5;
}

.grid-items__heart:active {
  background-image: url(../../../images/Black-Heart.png);
  opacity: 1;
  -webkit-tap-highlight-color: transparent;
}
