.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media (max-width: 320px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 32px;
    width: 104px;
    height: 24px;
  }
}
