.grid-items__trash {
  width: 18px;
  height: 19px;
  cursor: pointer;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

.grid-items__trash:hover {
  opacity: 0.5;
}
