.grid-items__place-name {
  color: #000;
  font-size: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
