.popup__heading {
  margin: 0 64px 54px 36px;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
}

@media (max-width: 320px) {
  .popup__heading {
    margin: 0px 22px 75px 22px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .popup__heading {
    font-size: 18px;
  }
}

@media (min-width: 321px) and (max-width: 379px) {
  .popup__heading {
    width: 238px;
  }
}

@media (min-width: 380px) and (max-width: 500px) {
  .popup__heading {
    width: 260px;
    font-size: 20px;
  }
}

@media (min-width: 501px) and (max-width: 650px) {
  .popup__heading {
    width: 358px;
  }
}

@media (min-width: 321px) and (max-width: 650px) {
  .popup__heading {
    margin: 0px auto 75px auto;
  }
}
