.popup__heading {
  margin: 34px 64px 44px 36px;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  max-width: 330px;
  box-sizing: border-box;
  line-height: normal;
  width: 100%;
}

@media (max-width: 320px) {
  .popup__heading {
    max-width: 238px;
  }
}

@media (min-width: 321px) and (max-width: 650px) {
  .popup__heading {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .popup__heading {
    margin: 25px auto 75px auto;
    font-size: 18px;
  }
}
