.popup__heading {
  margin: 34px 64px 44px 36px;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  max-width: 330px;
  box-sizing: border-box;
  line-height: normal;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 400px) {
  .popup__heading {
    font-size: 18px;
    max-width: 238px;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .popup__heading {
    max-width: 300px;
    font-size: 19px;
  }
}

@media (min-width: 501px) and (max-width: 650px) {
  .popup__heading {
    font-size: 20px;
    max-width: 358px;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .popup__heading {
    margin: 0px auto 75px auto;
  }
}
