.grid-items__subtitle-box {
  max-width: 246px;
  height: 79px;
  margin-left: 21px;
  margin-right: 15px;
}

@media (min-width: 651px) and (max-width: 919px) {
  .grid-items__subtitle-box {
    min-width: 246px;
    max-width: 340px;
  }
}

@media (min-width: 321px) and (max-width: 650px) {
  .grid-items__subtitle-box {
    min-width: 246px;
    max-width: 350px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
