.popup__img {
  object-fit: contain;
  max-width: 100%;
  max-height: 540px;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .popup__img {
    height: 299px;
  }
}
