.profile__name {
  color: #fff;
  font-size: 42px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: content-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  float: left;
}

@media (max-width: 320px) {
  .profile__name {
    max-width: 210px;
  }
}
@media (min-width: 320px) and (max-width: 700px) {
  .profile__name {
    line-height: normal;
    margin-left: 40px;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .profile__name {
    font-size: 27px;
  }
}

@media (min-width: 321px) and (max-width: 450px) {
  .profile__name {
    max-width: 350px;
  }
}

@media (min-width: 451px) and (max-width: 700px) {
  .profile__name {
    font-size: 30px;
    margin-right: 0px;
  }
}
