.profile__name {
  color: #fff;
  font-size: 42px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 294px;
}

@media (max-width: 320px) {
  .profile__name {
    font-size: 27px;
    min-width: 189px;
    margin-left: 46px;
  }
}

@media (min-width: 321px) and (max-width: 373px) {
  .profile__name {
    font-size: 30px;
    min-width: 210px;
    margin-left: 40px;
  }
}

@media (min-width: 374px) and (max-width: 525px) {
  .profile__name {
    font-size: 35px;
    min-width: 250px;
    margin-left: 40px;
  }
}
