.profile__description {
  color: #fff;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 336px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 320px) and (max-width: 525px) {
  .profile__description {
    font-size: 14px;
    max-width: 282px;
    width: 100%;
    margin-top: 14px;
    text-align: center;
  }
}

@media (min-width: 442px) and (max-width: 525px) {
  .profile__description {
    margin-left: 46px;
    text-align: left;
  }
}
