.grid-items__img {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
}

@media (min-width: 397px) and (max-width: 500px) {
  .grid-items__img {
    height: 350px;
  }
}

@media (min-width: 501px) and (max-width: 650px) {
  .grid-items__img {
    height: 410px;
  }
}
