.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/Close-Icon.png) ;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border: none;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 530px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
