.profile__info {
  margin-left: 30px;
  max-width: 500px;
  display: grid;
  grid-template-columns: fit-content(458px) minmax(18px, 24px);
  grid-template-rows: repeat(2, min-content);
  row-gap: 10px;
  align-content: center;
  column-gap: 18px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .profile__info {
    min-width: 282px;
    max-width: 490px;
    margin-top: 26px;
    row-gap: 14px;
    column-gap: 10px;
    margin-left: 0;
    justify-content: center;
  }
}
