.profile__info {
  margin-left: 30px;
  width: 336px;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 10px;
  align-content: center;
  column-gap: 18px;
}

@media (min-width: 320px) and (max-width: 525px) {
  .profile__info {
    width: 282px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 0;
    margin-left: 0;
    margin-top: 26px;
  }
}

@media (min-width: 442px) and (max-width: 525px) {
  .profile__info {
    margin-top: 0;
  }
}
