.page__grid-items {
  margin: 51px auto 67px auto;
}

@media (min-width: 320px) {
  .page__grid-items {
    margin: 36px auto 48px auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 321px) and (max-width: 919px) {
  .page__grid-items {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }
}
